# Missing not at random(MNAR) or Non-ignorable missing data

** What is MNAR? **

* The data will be missing based on the  missing column itself.
* It may be the case that we cannot confidently make any conclusions about the likely value of missing data.It is difficult to predict missing values.
* It requires proper understanding and domain knowledge of the missing variable to handle MNAR.

*for example,*
* People with higher earnings are less likely to reveal them.
* A person does not attend a drug test because the person took drugs the night before.
* A person did not take English proficiency test due to his poor English language skill.

In [5]:
dic = {
    'Gender':['M', 'F', 'M' ,'M','F', 'M','F', 'F', 'F', 'M '],
    'Age':[25,30,'NaN',35,26,'NaN',56,21,'Nan',19]
}

In [6]:
import pandas as pd 
data = pd.DataFrame(dic)

In [7]:
data

  Gender  Age
0      M   25
1      F   30
2      M  NaN
3      M   35
4      F   26
5      M  NaN
6      F   56
7      F   21
8      F  Nan
9     M    19

In above data , we don't know what is the reason for this missing data in data. The missing values depends on Age column only not Gender Column. The Original data is below

In [9]:
dic = {
    'Gender':['M', 'F', 'M' ,'M','F', 'M','F', 'F', 'F', 'M '],
    'Age':[25,30,75,35,26,23,56,21,87,19]
}

data = pd.DataFrame(dic)
data

  Gender  Age
0      M   25
1      F   30
2      M   75
3      M   35
4      F   26
5      M   23
6      F   56
7      F   21
8      F   87
9     M    19